button{
    margin: 150px;
    background-color: skyblue;
    border:2px solid red;
    color: seashell;
    border-radius:6px ;
    padding: 10px;

    /* comment */
}
button:hover{
    background-color: slateblue;
}
button:focus{
    background-color: teal;
}